body{
	background-image: url(background.jpeg)
}
#wrapper{
	width: 1000px;
	background-color: #F2CBBD;
	margin: 0 auto;
}
header{
	height: 100px;
	background-color: #975755;
	padding: 20px;
	clear: both;
	text-align: center;
}
header img{
	width: 100px;
	float: left;
	margin-right: -475px;	
}
h1{
	color: #F2CBBD;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: 100;

}
nav{
	text-align: center;
}
nav li{
	background-color: #B57D69;
	display: inline-block;
	list-style-type: none;
	border: 5px double #5C524A;
	font-family: 'Raleway', sans-serif;
	margin: 15px;
}
nav a{
	text-decoration: none;
	color: #F2CBBD;
	font-weight: bold;
	display: inline-block;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav a:hover{
	background-color: #975755;
}
#left-content{
	float: left;
	width: 470px;
	padding-left: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #5C524A;
	margin-left: 18px;
}
.italic{
	font-style: italic;
}
#right-content{
	float: right;
	width: 470px;
	border-left: 2px solid #975755;
	margin-bottom: 20px;
}
#right-content iframe{
	margin-left: 24px;	
}
footer{
	clear: both;
	text-align: center;
	height: 100px;
	background-color: #975755;
	color: #F2CBBD;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}
footer p{
	padding-top: 45px;
}
